<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="MolaBomFileAppender" fileName="../logs/mola-bom.log"
                     filePattern="../logs/mola-bom-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%t] %X{id} %X{username} %-5level %c{36} %l: %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy min="1" max="4" />
        </RollingFile>
    </appenders>
    <loggers>
        <root level="all">
            <appender-ref ref="Console" />
            <appender-ref ref="MolaBomFileAppender" />
        </root>
        <logger name="vn.edu.fpt.mola" level="all" />
        <logger name="org.apache" level="all" />
        <logger name="org.springframework" level="all" />
    </loggers>
</configuration>
